#header{
  background: black;
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 99;
  .header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--nav{
      .active{
        color: red;
      }
      &__item{
        color: white;
        font-size: 20px;
        font-weight: 500;
        margin: 0 20px;
      }
    }
    &--search{
      display: flex;
      input{
        padding: 8px 10px;
        border-radius: 20px;
        outline: none;
      }
      button{
        transition: .5s;
        padding: 11px 20px;
        border-radius: 10px;
        font-weight: 500;
        font-size: 15px;
        margin-left: 20px;
        background: red;
        color: white;
        &:hover{
          transform: scale(1.1);
          background: 0;
        }
      }
    }
    select{
      padding: 10px;
      outline: none;
      border-radius: 10px;
    }
  }
}